@model RebootIT.TimesheetApp.Data.Timesheet

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Timesheet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Client.CompanyName" class="control-label"></label>
                <select asp-for="Client.CompanyName" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="Client.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffId" class="control-label"></label>
                <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId"></select>
                <span asp-validation-for="StaffId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.Name" class="control-label"></label>
                <select asp-for="Location.Name" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="Location.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinutesWorked" class="control-label"></label>
                <input asp-for="MinutesWorked" class="form-control" />
                <span asp-validation-for="MinutesWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
